html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-image: url("img.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: brightness(80%);
}

h1 {
  padding: 15px;
  padding-top: 200px;
  text-align: center;
  font-family: "Courgette", cursive;
  color: #f8ece2;
  font-size: 70px;
}

.inline {
  text-align: center;
  padding-bottom: 200px;
}

input {
  padding: 0.46em 1.6em;
  border: solid #f8ece2;
  background: transparent;
  margin: 0 0.2em 0.2em 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  color: #f8ece2;
  text-align: center;
  outline: none;
}

::placeholder {
  color: #f8ece2;
  opacity: 1;
}

.button,
#website,
#Directions {
  display: inline-block;
  padding: 0.46em 1.6em;
  margin: 0 0.2em 0.2em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  color: #3f1d03;
  background-color: #f8ece2;
  text-align: center;
  transition: all 0.15s;
  outline: none;
  border-color: #f8ece2;
}

#buttons {
  padding-top: 50px;
  display: none;
}

h4,
a {
  font-family: "Courgette", cursive;
  color: #f8ece2;
}

h4 {
  padding-left: 50px;
}

p,
li {
  font-family: "Libre Baskerville", serif;
  color: #f8ece2;
  padding-right: 25px;
  padding-left: 25px;
}

.buttons {
  text-align: center;
}
